.annotate {
    font-style: italic;
    color: #366ed4;
  }
  
  [role="table"] {
    display: table;
  }
  
  [role="table"] > div[id] {
    display: table-caption;
    font-style: italic;
  }
  
  [role="table"] [role="row"] {
    display: table-row;
  }
  
  [role="table"] [role="cell"],
  [role="table"] [role="columnheader"],
  [role="table"] [role="rowheader"]
   {
    display: table-cell;
    padding: 0.125em 0.25em;
    width: 8em;
    border-width: 3px;
  }
  
  [role="table"] [role="columnheader"],
  [role="table"] [role="rowheader"]{
    font-weight: bold;
    border-bottom: thin solid #888;
  }
  
  [role="table"] [role="rowgroup"]:last-child [role="row"]:nth-child(odd) {
    background-color: #ddd;
  }


/* .Table{
    display: table;
    text-align: center;
}

.Title{
    display: table-caption;
    text-align: center;
}

.Heading{
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row{
    display: table-row; 
}

.Cell{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 10px;
    padding-right: 10px;
} */